::ng-deep .mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #141e3d;
  --mdc-switch-selected-handle-color: #141e3d;
  --mdc-switch-selected-hover-state-layer-color: #141e3d;
  --mdc-switch-selected-pressed-state-layer-color: #141e3d;
  --mdc-switch-selected-focus-handle-color: #141e3d;
  --mdc-switch-selected-hover-handle-color: #141e3d;
  --mdc-switch-selected-pressed-handle-color: #141e3d;
  --mdc-switch-selected-focus-track-color: #141e3d;
  --mdc-switch-selected-hover-track-color: #141e3d;
  --mdc-switch-selected-pressed-track-color: #141e3d;
  --mdc-switch-selected-track-color: #141e3d;
}