/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap");

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: "Poppins";
  margin: 0;
  background: #323766;
  color: #ffffff;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
}

input {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  width: 98%;
  height: 18px;
  background: #ffffff;
  border: 1px solid #9e9e9e;
  border-radius: 10px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1b212d;
}

label {
  color: #1b212d;
}

.error-input {
  font-size: 14px;
  color: red;
}

.container-conteudo {
  padding: 60px 16px 16px 196px;
  min-height: 500px;
  width: 84vw;
  height: 84vh;
  background: #323766;

  .content-page {
    background: #d8dae0;
    width: 98%;
    padding: 16px;
    border-radius: 5px;
    height: 98%;

    .form-page {
      display: grid;

      .row {
        display: flex;
        width: 99%;
        justify-content: flex-start;
        padding-bottom: 16px;

        .group-row {
          width: 99%;
        }

      }

      .row-button {
        display: flex;
        width: 99%;
        justify-content: flex-end;

        .group-button {
          display: flex;
          width: 99%;
          justify-content: flex-end;
        }
      }
    }
  }
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 38px;
  border: 0px solid;
  border-radius: 10px;
  background: #141e3d;
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fefefe;
  text-align: center;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.select-padrao {
  background: #fefefe;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1b212d;
  width: 100%;
  height: 32px;
  background: #ffffff;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 36px !important;
}

::ng-deep .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #acacac;
  min-height: 42px;
  align-items: center;
}

.group-slide {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #1b212d;
  padding-right: 10px;
}

// Inclusão Tabela 
table {
  width: 100%;

  thead {
    background: #41538a;
    /* font-family: Sarala; */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 38px;

    td {
      padding: 0px 0px 8px 16px;
    }
  }

  tbody {
    td {
      padding: 0px 0 0 16px;
      color: #000;
      font-family: "Poppins";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      cursor: pointer;
    }
  }
}

.linha-table {
  border-radius: 8px 8px 0px 0px;
  height: 38px;
}

.linha-branca {
  background: #d1e9fa;
}

.linha-cinza {
  background: #c3cdd4;
}

.header-info-2 {
  border-bottom: 1px solid #f0f0f0;

  @media screen and (max-width: 1020px) {
    overflow: auto;
  }
}

.cabec-buscar {
  height: 55px;
  border-radius: 8px 8px 0px 0px;
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 21px 0 0;

  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  div input {
    height: 25px;
    padding-right: 30px;
    border-radius: 59px;
    background: #fff;
    width: 129px;
    height: 24px;
    border: none;
    padding: 0 27px 0 8px;
  }

  div i {
    font-size: 16px;
    margin-left: -25px;
    cursor: pointer;
  }
}

.tabela-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  // margin: 12px;
  align-items: center;
}

.mostrar {
  margin-left: 24px;
  margin-right: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #585656;
}

.container-pagination {
  margin-left: auto;
}

::ng-deep .ngx-pagination .current {
  padding: 0.1875rem 0.525rem !important;
  background: linear-gradient(357.83deg, #3800b0 83.6%, #6c23e2 98.76%) !important;
  color: #fefefe !important;
  cursor: default !important;
  border-radius: 5px !important;
}