<navbar></navbar>
<sidebar></sidebar>
<div class="container-conteudo">
  <div class="content-page">
    <div class="form-page">
      <div class="row">
        <div class="group-row">
          <label>Nome</label>
          <input style="width: 100%;" type="text" name="nome" id="nome" formControlName="nome" required="">
        </div>
      </div>
      <div class="row-button">
        <div class="group-button">
          <input type="submit" class="btn-primary" value="Salvar">
        </div>
      </div>
    </div>
  </div>
</div>