<navbar></navbar>
<sidebar></sidebar>
<div *ngIf="tipoTela == 1" class="container-conteudo">
  <div class="content-page">
    <table [cellSpacing]="0" [cellPadding]="0">
      <thead>
        <tr>
          <td>Código</td>
          <td>Descrição</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody>
        <tr class="select-item" *ngFor="let item of tableList | paginate: config; let i = index" class="linha-table"
          [ngClass]="{'linha-cinza' : i % 2 == 0, 'linha-branca' : i % 2 !== 0}">
          <td>{{item.id}}</td>
          <td>{{item.nome}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="tipoTela == 2" class="container-conteudo">
  <div class="content-page">
    <form class="form-page" [formGroup]="sistemaForm" (submit)="enviar()">
      <div class="row">
        <div class="group-row">
          <label>Descrição do Sistema Financeiro</label>
          <input type="text" name="nome" id="nome" placeholder="Digite a Descrição do Sistema" formControlName="nome"
            required="">
          <label *ngIf="sistemaForm.get('nome')?.errors?.['required'] &&  sistemaForm.get('nome')?.touched"
            class="error-input">
            Campo Obrigatório!
          </label>
        </div>
      </div>
      <div class="row-button">
        <div class="group-button">
          <input type="submit" class="btn-primary" value="Salvar" [ngClass]="{'disabled' : !sistemaForm.valid}"
            [disabled]="!sistemaForm.valid">
        </div>
      </div>
    </form>
  </div>
</div>