<div class="container-sidebar">
  <div class="group-menu">
    <div class="container-icon-menu">
      <div class="caixa-menu" [ngClass]="{
          'caixa-menu-select': this.menuServico.menuselecionado == 'dashboard',
          '': this.menuServico.menuselecionado != 'dashboard'}">
        <div class="caixa-menu-texto" (click)="selectMenu('dashboard')">
          DashBoard
        </div>
      </div>
    </div>
  </div>
  <div class="group-menu">
    <div class="container-icon-menu">
      <div class="caixa-menu" [ngClass]="{
            'caixa-menu-select': this.menuServico.menuselecionado == 'sistema',
            '': this.menuServico.menuselecionado != 'sistema'}">
        <div class="caixa-menu-texto" (click)="selectMenu('sistema')">
          Sistemas Financeiros
        </div>
      </div>
    </div>
  </div>
  <div class="group-menu">
    <div class="container-icon-menu">
      <div class="caixa-menu" [ngClass]="{
            'caixa-menu-select': this.menuServico.menuselecionado == 'categoria',
            '': this.menuServico.menuselecionado != 'categoria'}">
        <div class="caixa-menu-texto" (click)="selectMenu('categoria')">
          Categorias
        </div>
      </div>
    </div>
  </div>
  <div class="group-menu">
    <div class="container-icon-menu">
      <div class="caixa-menu" [ngClass]="{
            'caixa-menu-select': this.menuServico.menuselecionado == 'despesa',
            '': this.menuServico.menuselecionado != 'despesa'}">
        <div class="caixa-menu-texto" (click)="selectMenu('despesa')">
          Despesas
        </div>
      </div>
    </div>
  </div>
  <div class="group-menu">
    <div class="container-icon-menu">
      <div class="caixa-menu" [ngClass]="{
              'caixa-menu-select': this.menuServico.menuselecionado == 'sair',
              '': this.menuServico.menuselecionado != 'sair'}">
        <div class="caixa-menu-texto" (click)="selectMenu('sair')">
          Sair
        </div>
      </div>
    </div>
  </div>
</div>